# Created by .ignore support plugin (hsz.mobi)
Будет удалено .gitignore
Будет удалено .idea/
Будет удалено coordinate-converters/target/
Будет удалено entity-utils/target/
Будет удалено jsf-utils/target/
